{{ template "base.header.tmpl" . }}

<h1>{{ .title }}</h1>
This service is built on top of data available at <a href="https://www.studentlund.se/">studentlund.se</a>

{{ template "base.footer.tmpl" }}
