{{ template "base.header.tmpl" . }}

<h1>{{ .title }}</h1>

<p>Base URL <code>https://nationilund.se/api</code></p>

<p>Get events for today, this week or this month.</p>
<pre class="bg-light"><code>  GET /day
  GET /week
  GET /month
</code></pre>

<p>Get events for a specific date, or the week/month that date occurs.</p>
<pre class="bg-light"><code>  GET /day/YYYY-MM-DD
  GET /week/YYYY-MM-DD
  GET /month/YYYY-MM-DD
</code></pre>

<h2>Response</h2>
<p>A JSON list of event objects.</p>

<pre class="bg-light"><code>[
  {
    id              string
    summary         string
    description     string
    url             string
    image_url       string
    location        string

    organizer {
      name          string
      email         string
    }

    date {
      start         date string (RFC3339)
      end           date string (RFC3339)
      last_updated  date string (RFC3339)
    }
  },
  {...}
]
</code></pre>

<p>In case of errors the API response will have one of the following status codes.</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Status code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>400</td>
      <td>Date was incorrectly formatted.</td>
    </tr>
    <tr>
      <td>503</td>
      <td>Internal fetching of data failed.</td>
    </tr>
  </tbody>
</table>

{{ template "base.footer.tmpl" }}
