<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{- if .title }}{{.title}} - {{ end -}} Nation i Lund</title>
  <meta name="description" content="Find out what's happening at the student nations in Lund tonight!">
  <link rel="stylesheet" href="https://unpkg.com/pikaday@1.6.1/css/pikaday.css">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{{ template "base.navbar.tmpl" . }}