<header class="header">
  <div class="container">
    <a class="logo" href="/"><img class="logo" src="/assets/images/logo.svg" alt="Nation i Lund" /></a>
    <nav class="menu">
      <a class="menu-item {{- if not .title }} current {{ end -}}" href="/">Kalender</a>
      <a class="menu-item {{ if .title }}{{ if eq .title "API" -}} current {{- end }}{{ end }}" href="/api">API</a>
      <a class="menu-item {{ if .title }}{{ if eq .title "About" -}} current {{- end }}{{ end }}" href="/about">Om</a>
    </nav>
  </div>
</header>
