<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{- if .title }}{{.title}} - {{ end -}} Nation i Lund</title>
  <meta name="description" content="Find out what's happening at the student nations in Lund tonight!">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/pikaday@1.6.1/css/pikaday.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{{ template "base.navbar.tmpl" . }}
<main class="container mt-3 mb-3">
