{{ template "base.header.tmpl" . }}

<h1>Today's events</h1>

<noscript>Javascript required!</noscript>
<div id="events-list"></div>

<script src="/assets/js/bundle.js"></script>
{{ template "base.footer.tmpl" }}
